$body-bg: #323232;
$body-color: #a5a5a5;
// $primary: #fff7e5;
$secondary: #292929;
$red: #a73646;
$green: #518a28;
$yellow: #cea513;
$orange: #cf6814;
$container-max-widths: (
  sm: 768px,
  md: 992px,
  lg: 1140px,
  xl: 1140px
) !default;
@import "node_modules/bootstrap/scss/bootstrap";

a {
  color: $red;
}

.container {
  padding: 0 7px 0 7px;
}




html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#header {
  background: $secondary;
}

#nav-toggle-bar {
  background: $body-bg;
  border-top: 1pt solid $red;
  margin-top: 5px;
}

#nav-toggle-buttons {
  position: relative;
  top: -1px;
  right: 10px;
  padding: 0 5px;
  border: 1px solid $red;
  border-radius: 0 0 5px 5px;
  border-top: none;

  button:after {
    color: $gray-600;
    content: " \2022";
  }

  button:last-child:after {
    content: none;
  }

  button:not(:last-child) {
    padding-right: 2px;
  }
}

.button-nav-toggle {
  padding: 0px 0px;
}

input, textarea {
  background: $secondary;
  color: $body-color;
  border-color: $red;
}

input {
  padding: 3px;
}

textarea {
  padding: 7px;
}

.component-name {
  text-align: center;
  margin-bottom: 5px;
  border-bottom: none;
}

.component-content {
  border-top: none;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.btn-link, .btn-link:hover {
  color: $green
}

.btn-link.disabled {
  cursor: not-allowed;
  color: $gray-500;
}

.error-messages {
  color: $orange;
}

ul > .app-link {

}

li.active-link a {
  border-bottom: 2pt solid $red;
}

li.nav-link {
  display: inline-block;
  padding: 0 0 2px 0;
}

li.unsaved a {
  color: $yellow;
}

#main-nav {
  a {
    font-weight: 600;
  }

  .app-link  {
    margin-right: 7px;
    font-variant: small-caps;
  }
}

a {
  text-decoration: none;
}

.sub-nav {
  li:after {
    color: $gray-600;
    content: " \2022";
  }

  li:last-child:after {
    content: none
  }

  li:not(:last-child) {
    padding-right: 5px;
  }

}
.sub-nav li:not(:last-child) {
  //border-right: 1px solid #9d9d9d;
  // padding-right: 3px;
}

.sub-nav a {
  font-size: .85em;
}