// Bootstrap Variable Overrides
$body-bg: #323232;
$body-color: #a5a5a5;
// $primary: #fff7e5;
$secondary: #292929;
$blue: #0067ce;
$red: #a73646;
$green: #518a28;
$yellow: #cea513;
$orange: #cf6814;
$container-max-widths: (
  sm: 768px,
  md: 992px,
  lg: 1140px,
  xl: 1140px
) !default;

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Bootstrap & Basic Element Overrides

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: $red;
}

a, a:active, a:focus {
  outline: none;
}

input, textarea {
  background: $secondary;
  color: $body-color;
  border-color: $red;
}

input {
  padding: 3px;
}

textarea {
  padding: 7px;
}

.container {
  padding: 0 7px 0 7px;
}


// APP CSS

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#header {
  background: $secondary;
}

// Navigation

li.nav-link {
  display: inline-block;
  padding: 0 0 2px 0;
}

li.active-link a {
  border-bottom: 2pt solid $red;
}

li.unsaved a, button.unsaved, button.unsaved:hover {
  color: $yellow;
}

#main-nav {
  a {
    font-weight: $font-weight-bold;
  }

  .app-link  {
    margin-right: 7px;
    font-variant: small-caps;
  }
}

.sub-nav {
  a {
    font-size: $font-size-sm;
  }

  li:after {
    color: $gray-600;
    content: " \2022"; // Puts a bullet between links
  }

  li:last-child:after {
    content: none
  }

  li:not(:last-child) {
    padding-right: 5px;
  }
}

#nav-toggle-bar {
  background: $body-bg;
  border-top: 1pt solid $red;
  margin-top: 5px;
}

#nav-toggle-buttons {
  position: relative;
  top: -1px;
  right: 10px;
  padding: 0 5px;
  border: 1px solid $red;
  border-radius: 0 0 5px 5px;
  border-top: none;

  button {
    padding: 0px;
    font-variant: small-caps;
    font-weight: 600;
  }

  button:after {
    color: $gray-600;
    content: " \2022";
  }

  button:last-child:after {
    content: none;
  }

  button:not(:last-child) {
    padding-right: 2px;
  }
}

// Buttons - Bootstrap Overrides

.btn-link, .btn-link:hover {
  color: $green;
}

.btn-link:focus {
  text-decoration: none;
}

.btn-link.disabled {
  cursor: not-allowed;
  color: $gray-500;
}

// Forms

.error-messages {
  color: $yellow;
}

input.component-name {
  text-align: center;
  margin-bottom: 5px;
  border-bottom: none;
}

textarea.component-content {
  border-top: none;
}