html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black; }

input, textarea {
  background: #292929;
  color: #a5a5a5;
  border-color: #a73646; }

input {
  padding: 3px; }

textarea {
  padding: 7px; }

.container {
  padding: 0 7px 0 7px; }

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100%; }

button.unsaved, button.unsaved:hover {
  color: #cea513; }

#main-nav {
  padding-top: 5px; }
  #main-nav .app-link {
    margin-right: 7px; }

#nav-toggle-bar {
  background: #323232;
  border-top: 1pt solid #a73646;
  margin-top: 5px; }

#nav-toggle-buttons {
  position: relative;
  top: -1px;
  right: 10px;
  padding: 0 5px;
  border: 1px solid #a73646;
  border-radius: 0 0 5px 5px;
  border-top: none; }
  #nav-toggle-buttons button {
    padding: 0px; }
  #nav-toggle-buttons button:after {
    color: grey;
    content: " \2022"; }
  #nav-toggle-buttons button:last-child:after {
    content: none; }
  #nav-toggle-buttons button:not(:last-child) {
    padding-right: 2px; }

.btn-link, .btn-link:hover {
  color: #5b972a; }

.btn-link:focus {
  text-decoration: none; }

.btn-link.disabled {
  cursor: not-allowed;
  color: grey; }

.error-messages {
  color: #cea513; }

.warning-messages {
  color: #cf6814; }

input.component-name {
  text-align: center;
  margin-bottom: 5px;
  border-bottom: none; }

textarea.component-content {
  border-top: none; }

.offscreen {
  position: absolute;
  left: -999em; }
